<h1>You tryna login or what</h1>

<form action="/sessions" method="POST">

<label> Email:
<input type="text", name="session[email]">
</label>

<br>

<label for="password">Password: 
<input type="password" name="session[password]">
</label>

<br>

<input type="submit">


</form>