<h1>Welcome to Users New</h1>

<p>I will eventually be putting a form here chief.</p>

<form action="/users" method="POST">
  <label>Email: 
  <input type="text" name="user[email]">
  </label>

  <br>

  <label>Password:
  <input type="password" name="user[password]">
  </label>

  <br>

  <input type="submit">


</form>